@model IEnumerable<ACE_Driving_School.Models.Student>
@{
    ViewBag.Title = "Home Page";
}
<!--Main body header-->
<div class="home-header">
    <div class="container">
        <div class="container text-right">
            <h1 class="home-header-slogan-heading text-right">Helping young drivers excel</h1>
            <div class="home-header-text">
                <p class="home-header-slogan">
                    We opperate within the Bishopbriggs area
                    having taught more damn a thousand students in the past year alone.
                    <a href="@Url.Action("ChooseLessonAmount", "Booking")" class="btn btn-black">Make A Booking</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="flex-box">
    <div class="box box-left">
        <h2 class="Home-Body-Heading">How we operate</h2>
            <p class="home-left-box-text">
                We have a lot of instructors from around the country who have had many years
                of teaching experience. <br />
                Our goal to help students who find driving a car a big struggle
                by teaching them that it isn't hard at all. No matter how long it takes our students to learn
                we will always be there for them.
                Make sure to learn more <a href="@Url.Action("AboutUs","Home")" class="home-left-box-text-link">About Us</a>
            </p>
    </div>
    <div class="box">
        <h2 class="Home-Body-Heading">Reccently Passed Students</h2>
        <table class="table-red">
            <tr>
                <th>Students</th>
                <th>Passed Date</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.PassedDate.Value.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </table>


        @Html.ActionLink("Our Instrutors", "ViewAllInstructors", "Home")
        <br />
        <br />
        @Html.ActionLink("Make A Booking", "ChooseLessonAmount", "Booking")
        @if (User.IsInRole("Student"))
        {
            Html.ActionLink("View All Lessons", "ViewAllLessons", "Lesson");
        }
    </div>
</div>