@{
    ViewBag.Title = "Control Panel";
}
<div class="container container-wrapper">
    <h2> Admin Control Panel</h2>

    @Html.ActionLink("New Staff Member", "NewStaffMember", null, new { @class = "btn btn-red" })
    <hr />
    @Html.ActionLink("View All Users", "ViewAllUsers", null, new { @class = "btn btn-red" })
    <hr />
    @Html.ActionLink("Change Lesson Prices", "ChangeLessonPrice", null, new { @class = "btn btn-red" })
    <hr />
    @Html.ActionLink("Generate Reports", "GenerateReports", null, new { @class = "btn btn-red" })
    <hr />
    @Html.ActionLink("Warn Students of Upcoming Tests", "CheckStudentTestDate", null, new { @class = "btn btn-red", onclick = "return confirm('This will send an email to every student who have an upcoming driving test within the next 5 days')" })

</div>
