@model ACE_Driving_School.Models.Instructor

@{
    ViewBag.Title = "Instructor Account";
}
<div class="container container-wrapper">
    <h2>Instructor Account</h2>
    <div>
        @Html.LabelFor(model => model.Email):
        <span>@Html.DisplayFor(p => p.Email)</span>
        <br />
        
        @Html.LabelFor(model => model.PhoneNumber):
        <span>@Html.DisplayFor(p => p.PhoneNumber)</span>
        <br />
        
        @Html.LabelFor(model => model.UserName):
        <span>@Html.DisplayFor(p => p.UserName)</span>
        <br />
                
        @Html.LabelFor(model => model.First_Name):
        <span>@Html.DisplayFor(p => p.First_Name)</span>
        <br />
        
        @Html.LabelFor(model => model.Last_Name):
        <span>@Html.DisplayFor(p => p.Last_Name)</span>
        <br />
        
        @Html.LabelFor(model => model.Date_Of_Birth):
        <span>@String.Format("dd/MM/yyyy", Model.Date_Of_Birth)</span>
        <br />
        
        @Html.LabelFor(model => model.AddressLine1):
        <span>@Html.DisplayFor(p => p.AddressLine1)</span>
        <br />
        
        @Html.LabelFor(model => model.AddressLine2):
        <span>@Html.DisplayFor(p => p.AddressLine2)</span>
        <br />
        
        @Html.LabelFor(model => model.City):
        <span>@Html.DisplayFor(p => p.City)</span>
        <br />
        
        @Html.LabelFor(model => model.Postcode):
        <span>@Html.DisplayFor(p => p.Postcode)</span>
        <br />
        
        @Html.LabelFor(model => model.Bio):
        <span>@Html.DisplayFor(p => p.Bio)</span>
        <br />
        
        @Html.LabelFor(model => model.Experience_Years):
        <span>@Html.DisplayFor(p => p.Experience_Years)</span>
        <br />
    </div>
    <p>
        @Html.ActionLink("Edit", "EditDetails") |
        @Html.ActionLink("Back", "InstructorHome")
    </p>

</div>