@model ACE_Driving_School.Models.Booking

@{
    ViewBag.Title = "Booking Confirmation";
}
<div class="container container-wrapper">
        <div class="Booking-Confirmation">
            <h1>Booking Confirmation</h1>
            <h2>Congratiolations <b id="Confirmation-Highlight">@Model.Student.FullName</b> you have purchased an planned <b id="Confirmation-Highlight">@Model.Lesson_Amount</b> lessons!</h2>
            <h3>Your next lesson will be on the <b id="Confirmation-Highlight">@Model.Lessons.First().Date_And_Time</b></h3>
            <h3>With <b id="Confirmation-Highlight">@Model.Lessons.First().Instructor.FullName</b> as your instructor</h3>
            <h3>And you will driving a <b id="Confirmation-Highlight">@Model.Lessons.First().Car.Name</b></h3>
            <h4>Your Booking Id is: <b id="Confirmation-Highlight">@Model.Booking_Id</b></h4>

            <h4>We've sent a confirmation email to your registered email address: <b id="Confirmation-Highlight">@Model.Student.Email</b></h4>
            <h4>See You Soon!</h4>
        </div>
    <p id="ViewAllBookingLink">@Html.ActionLink("View All Bookings", "ViewAllBookings")</p>
</div>
