@model ACE_Driving_School.Models.Booking

@{
    ViewBag.Title = "Booking Confirmation";
}

<h2>Booking Confirmation</h2>
    <div class="center">

        <h2>Congratiolations @Model.Student.FullName you have purchased an planned @Model.Lesson_Amount lessons!</h2>
        <h3>Your next lesson will be on the @Model.Lessons.First().Date_And_Time</h3>
        <h3>With @Model.Lessons.First().Instructor.FullName as your instructor</h3>
        <h3>And you will driving @Model.Lessons.First().Car.Name</h3>
        <p>Your Booking Id is: @Model.Booking_Id</p>

        <p>We've sent a confirmation email to your registered email address: @Model.Student.Email</p>
        <h4>See You Soon!</h4>

    </div>
<p>
    @Html.ActionLink("View All Bookings", "ViewAllBookings")
</p>
