@model ACE_Driving_School.Models.Booking

@{
    ViewBag.Title = "View Booking";
}
<div class="container container-wrapper">
    <h2 id="ViewBookingHeading">View Booking</h2>
    <div class="view-booking-wrapper">
        <h4>@Model.Student.FullName booking</h4>
        @Html.LabelFor(model => model.Lesson_Amount):
        <span>@Html.DisplayFor(model => model.Lesson_Amount)</span>
        <br />
        @Html.LabelFor(model => model.Date_and_Time):
        <span>@Html.DisplayFor(model => model.Date_and_Time)</span>
        <br />
        @Html.LabelFor(model => model.Price):
        <span>£@Html.DisplayFor(model => model.Price)</span>
        <table class="table table-red table-responsive">
            <tr>
                <th>@Html.DisplayNameFor(p => p.Lessons.First().Date_And_Time)</th>
                <th>@Html.DisplayNameFor(p => p.Lessons.First().Instructor.FullName)</th>
                <th>@Html.DisplayNameFor(p => p.Lessons.First().Car.Name)</th>
            </tr>
            @foreach (var item in Model.Lessons)
            {
                <tr>
                    <td>@Html.ActionLink(Html.DisplayFor(modelItem => item.Date_And_Time).ToString(), "LessonDetails", "Lesson", new { Lesson_Id = item.Lesson_Id }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.Instructor.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Car.Name)</td>
                    @if (User.IsInRole("Instructor") || User.IsInRole("Admin"))
                    {
                        <td>@Html.ActionLink("Mark As Complete", "MarkLessonComplete", "Lesson", new { Lesson_Id = item.Lesson_Id }, null)</td>
                    }

                </tr>
            }
        </table>
        @if (Model.Lesson_Amount == 1)
        {
            <p>Deleting this lesson will also delete the booking</p>
        }
    </div>
    <p>
        @Html.ActionLink("All Bookings", "ViewAllBookings") |
        @Html.ActionLink("Delete Booking", "DeleteBooking", new { Booking_Id = Model.Booking_Id}, new { onclick = "return confirm('Are you sure you want to delete this booking? This will also delete all the lessons.')"})
    </p>

</div>
