@model ACE_Driving_School.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container text-center">
    <div class="Register-Form-Heading">
        <h1>@ViewBag.Title</h1>
    </div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal register-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account</h4>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.Firstname)
            @Html.TextBoxFor(m => m.Firstname)
            <br />
            @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.Lastname)
            @Html.TextBoxFor(m => m.Lastname)
            <br />
            @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.AddressLine1)
            @Html.TextBoxFor(m => m.AddressLine1)
            <br />
            @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.AddressLine2)
            @Html.TextBoxFor(m => m.AddressLine2)
            <br />
            @Html.ValidationMessageFor(m => m.AddressLine2, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City)
            <br />
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.Postcode)
            @Html.TextBoxFor(m => m.Postcode)
            <br />
            @Html.ValidationMessageFor(m => m.Postcode, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.EditorFor(m => m.PhoneNumber)
            <br />
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.Date_Of_Birth)
            @Html.EditorFor(m => m.Date_Of_Birth)
            <br />
            @Html.ValidationMessageFor(m => m.Date_Of_Birth, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            <br />
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
            <br />
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger"})
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            <br />
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="Register-Textbox">
            @Html.LabelFor(m => m.DrivingLicenseNo)
            @Html.EditorFor(m => m.DrivingLicenseNo) 
            <br />
            @Html.ValidationMessageFor(m => m.DrivingLicenseNo)
        </div>
        <div class="Register-Button">
                <input type="submit" class="btn btn-red" value="Register" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
