@model ACE_Driving_School.Models.Booking

@{
    ViewBag.Title = "Pay For Booking";
}

@{ var Return_Url = HttpContext.Current.Request.Url.AbsoluteUri;}
<div class="container payment-container">
    <h2>Pay For Booking</h2>

    <div class="payment-wrapper">
            @Html.LabelFor(model => model.Lesson_Amount):
            <span>@Html.DisplayFor(model => model.Lesson_Amount)</span>
            <br />
            @Html.LabelFor(model => model.Date_and_Time):
            <span>@Html.DisplayFor(model => model.Date_and_Time)</span>
            <br />
            @Html.LabelFor(model => model.Price):
            <span>£@Html.DisplayFor(model => model.Price)</span>
        <table class="table table-red" >
            <tr>
                <th>@Html.DisplayNameFor(p => p.Lessons.First().Date_And_Time)</th>
                <th>Instructor</th>
                <th>Car</th>
            </tr>
            @foreach (var item in Model.Lessons)
            {
                <tr>
                    
                    <td>@Html.ActionLink(Html.DisplayFor(p => item.Date_And_Time).ToString(), "EditLesson", "Lesson", new { Lesson_Id = item.Lesson_Id, Return_Url = Return_Url}, new { @id = "edit-Lesson-Link", title = "Edit Lesson"})</td>
                    <td>@Html.DisplayFor(p => item.Instructor.FullName)</td>
                    <td>@Html.DisplayFor(p => item.Car.Name)</td>
                </tr>
            }
        </table>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.Client_ID&currency=GBP"></script>

    <div id="paypal-button-container" class="text-center"></div>

</div>
<script>
    paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '@Model.Price'
          }
        }]
      });
    },
        onApprove: function (data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function (details) {
            // This function sends the user to the booking confirmation page once it has been paid for
            window.location.href = '@Url.Action("BookingConfirmation","Booking", new { Booking_Id = Model.Booking_Id})'
        });
    }
  }).render('#paypal-button-container');    
</script>
