<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACE Driving School</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <a href="@Url.Action("Index", "Home")"><img class="logo" src="~/Content/Images/Logo.png" /></a>
                    
                    <ul class="nav navbar-nav navbar-right ">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @if (User.IsInRole("Instructor"))
                        {
                            <li>@Html.ActionLink("Instructor Home", "InstructorHome", "Instructor")</li>
                        }
                        @if (User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("My Bookings", "ViewAllBookings", "Booking")</li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin Home", "ControlPanel", "Admin")</li>
                        }
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @Html.Partial("_LoginPartial")
                    </ul>
            </div>
        </div>
    </div>
    
    @RenderBody()
    <hr />
    <div class="">
        <footer class="layout-footer">
            <p>&copy; @DateTime.Now.Year - ACE Driving School</p>
            <div class="social-pages">
                <a href="#" target="_blank"><img class="social-image" src="~/Content/Images/Facebook.png" /></a>
                <a href="#" target="_blank"><img class="social-image" src="~/Content/Images/Instagram.png" /></a>
                <a href="#" target="_blank"><img class="social-image" src="~/Content/Images/Twitter.png" /></a>
                <a href="#" target="_blank"><img class="social-image" src="~/Content/Images/Youtube.png" /></a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
