@model ACE_Driving_School.View_Models.CreateLessonViewModel

@{
    ViewBag.Title = "Create Lesson";
}
<div class="Create-Lesson-Heading">
    <h2>Create A Lesson </h2>
    <h4>Amount of Lessons @Model.Choosen_Amount</h4>
</div>

        
@using (Html.BeginForm("CreateLesson", "Lesson", FormMethod.Post, new { @class = "Create-Lesson-Form container"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Dates, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Chossen_Date, new SelectList(Model.Dates), "Select A Date", new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Chossen_Date, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Times, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Chossen_Time, new SelectList(Model.Times), "Select A Time", new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Chossen_Time, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" }) 
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Choosen_Hours, new SelectList(Model.Duration), "Select Duration", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Choosen_Hours, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Instructors, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Chossen_Instructor.Id, new SelectList(Model.Instructors, "Id", "Fullname"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Chossen_Instructor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Car_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Car_Type_Chossen, new SelectList(Model.Car_Type), "Select Car Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Car_Type_Chossen, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(m => m.Choosen_Amount)
        @Html.HiddenFor(m => m.LessonInBooking)
        @Html.HiddenFor(m => m.Booking_Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-red" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
