@model ACE_Driving_School.Models.Lesson

@{
    ViewBag.Title = "LessonDetails";
}

<h2>Lesson Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_And_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_And_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
    </dl>
</div>
    <div>
        <h2>@Html.DisplayNameFor(model => model.Instructor_Note)</h2>
        <p>@Html.DisplayFor(model => model.Instructor_Note)</p>
    </div>


<p>
    @if (User.IsInRole("Instructor"))
    {
        @Html.ActionLink("Add Note", "AddInstructorNote", "Lesson", new { Lesson_Id = Model.Lesson_Id},null) <span>|</span>
    }
    @if (User.IsInRole("Student"))
    {
        @Html.ActionLink("Edit", "EditLesson", new { Lesson_Id = Model.Lesson_Id }) <span>|</span>
    }
    @Html.ActionLink("Delete", "DeleteLesson", new { Lesson_Id = Model.Lesson_Id }, new { onclick = "return confirm('Are you sure you want to delete this lesson?')"}) |
    @Html.ActionLink("Back to booking", "ViewBooking", "Booking", new { Booking_Id = Model.Booking_Id },null)
</p>
